pytest==6.2.5
allure-pytest
allure-python-commons
pylint-fail-under
pytest-xdist
pytest-rerunfailures
httpx
requests-toolbelt
simplejson
ruamel.yaml
configparser
openpyxl
loguru
pytest-sugar
pathlib
jsonpath
PyYAML
pandas
demjson
pytest-parallel
hypothesis
pytest-bdd
pytest-factoryboy
